src/wsdl/localhost_8080/LeonaStation/ControllerServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><xs:schema xmlns:tns="http://controller.station.leona.br/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://controller.station.leona.br/">

<xs:element name="AlteraListaServicos" type="tns:AlteraListaServicos"/>

<xs:element name="AlteraListaServicosResponse" type="tns:AlteraListaServicosResponse"/>

<xs:element name="DesligaPantilit" type="tns:DesligaPantilit"/>

<xs:element name="DesligaPantilitResponse" type="tns:DesligaPantilitResponse"/>

<xs:element name="IOException" type="tns:IOException"/>

<xs:element name="LigaPantilit" type="tns:LigaPantilit"/>

<xs:element name="LigaPantilitResponse" type="tns:LigaPantilitResponse"/>

<xs:element name="LimpaListaServicos" type="tns:LimpaListaServicos"/>

<xs:element name="LimpaListaServicosResponse" type="tns:LimpaListaServicosResponse"/>

<xs:element name="MoveDirecaoPantilt" type="tns:MoveDirecaoPantilt"/>

<xs:element name="MoveDirecaoPantiltResponse" type="tns:MoveDirecaoPantiltResponse"/>

<xs:element name="PegaListaServicos" type="tns:PegaListaServicos"/>

<xs:element name="PegaListaServicosResponse" type="tns:PegaListaServicosResponse"/>

<xs:element name="ReiniciaPantilt" type="tns:ReiniciaPantilt"/>

<xs:element name="ReiniciaPantiltResponse" type="tns:ReiniciaPantiltResponse"/>

<xs:element name="VerificaPantiltLigado" type="tns:VerificaPantiltLigado"/>

<xs:element name="VerificaPantiltLigadoResponse" type="tns:VerificaPantiltLigadoResponse"/>

<xs:complexType name="MoveDirecaoPantilt">
<xs:sequence>
<xs:element name="graus" type="xs:string" minOccurs="0"/>
<xs:element name="direcao" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="MoveDirecaoPantiltResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="VerificaPantiltLigado">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="VerificaPantiltLigadoResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="IOException">
<xs:sequence>
<xs:element name="message" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="DesligaPantilit">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="DesligaPantilitResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LimpaListaServicos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="LimpaListaServicosResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ReiniciaPantilt">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="ReiniciaPantiltResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="PegaListaServicos">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="PegaListaServicosResponse">
<xs:sequence>
<xs:element name="return" type="tns:service" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="service">
<xs:sequence>
<xs:element name="name" type="xs:string" minOccurs="0"/>
<xs:element name="status" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="LigaPantilit">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="LigaPantilitResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AlteraListaServicos">
<xs:sequence>
<xs:element name="listaServicos" type="tns:service" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AlteraListaServicosResponse">
<xs:sequence/>
</xs:complexType>
</xs:schema>